---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main
    class="post mx-auto flex w-full max-w-3xl flex-col gap-6 px-3 sm:px-4 lg:px-0"
  >
    <header role="presentation" class="flex flex-col gap-2">
      <div
        class="flex flex-col gap-1 sm:flex-row sm:items-baseline sm:justify-between"
      >
        <h1 class="text-2xl font-semibold leading-tight text-neutral-100 sm:text-3xl">
          {post.data.title}
        </h1>
        <span class="text-xs font-medium uppercase tracking-wide text-neutral-400">
          {formatDate(post.data.publishedAt)}
        </span>
      </div>
      <p class="text-base italic text-neutral-300">{post.data.description}</p>
    </header>

    <Content />
  </main>
</Layout>
